<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
    <h1>welcome to {{pageName}}</h1>
    <p>how are you today, {{username}}?</p>

    <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
    <a href="/page1">Page 1</a>
    <a href="/page2">Page 2</a>
</body>
</html>